[Unit]
Description=Device-mapper event daemon
After=fedora-storage-init.service fedora-storage-init-late.service
Before=local-fs.target
DefaultDependencies=no

[Service]
Type=forking
ExecStart=${exec_prefix}/sbin/dmeventd
PIDFile=
OOMScoreAdjust=-1000

[Install]
WantedBy=sysinit.target
